h1 {
    font-size: 2.5em;
    padding-bottom: 1em;
}

h3 {
    text-align: center;
}

h2,
h3 {
    color: rgba(61, 35, 84, 0.75);
}

h5 {
    font-size: 1em;
}

/* Custom Highlighting */
.text-highlighted {
    font-style: normal;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding: .09em;
    margin: -.09em;
    margin-bottom: -0.09em;
    background: rgba(61, 35, 84, 0.70);
}

#header {
    background: linear-gradient(rgba(61, 35, 84, 0.5), rgba(61, 35, 84, 0.5)),
    url("../images/header-will.jpg") no-repeat center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.tight {
    padding-bottom: 0em;
}


ul.icons {
    background:  #413843;
}

@keyframes progress-bar-stripes{
    from{background-position:1rem 0}
    to
    {background-position:0 0}}.progress
    {
        display:-ms-flexbox;
        display:flex;
        height:1rem;
        overflow:hidden;
        font-size:.75rem;
        background-color:#e9ecef;
        border-radius:.25rem}.progress-bar-custom
        {
            display:-ms-flexbox;
            display:flex;
            -ms-flex-direction:column;
            flex-direction:column;
            -ms-flex-pack:center;
            justify-content:center;
            color:rgb(0, 0, 0);
            text-align:center;
            font-weight: 400;
            white-space:nowrap;
            background-color:rgba(255, 0, 0, 0.75);
            transition:width .6s ease
        }
