---
layout: accordion
title: Projects
permalink: /projects/
---

{% assign sorted = (site.projects | sort: 'start') | reverse %}
{% for x in sorted %}
<div class="card">
    <div class="card-header" role="tab" id="heading{{ forloop.index }}">
        <a data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false"
            aria-controls="collapse{{ forloop.index }}">
            <div class="d-flex justify-content-between">
                <h3>{{ x.title }}</h3>
                <h3>{{ x.start | date: "%B %Y"  }}{% if x.end %} - {{ x.end | date: "%B %Y"  }} {% endif %}</h3>
            </div>
        </a>
    </div>

    <div id="collapse{{ forloop.index }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ forloop.index }}"
        data-parent="#accordion">
        <div class="card-body">
            <div class="col-md-12 text-center">
                <h3>{{ x.driver }}</h3>
                <br />

                {% if x.video %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ x.video }}" allowfullscreen></iframe>
                </div>
                <br />
                {% endif %}

                {% if x.picture %}
                <img src="{{ x.picture | relative_url }}" class="img-fluid">
                <br />
                {% endif %}

                {{ x.content }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
