---
layout: page
permalink: /projects/
---

{% assign sorted = site.projects | sort: 'start' | reverse %}
{% for x in sorted %}

<div class="row align-items-center">
    <div class="col-md-12 text-center">
        <h1 class="tight">{{ x.title }}</h1>
        <h4>
            {{ x.driver }}
            <br />
            {{ x.start | date: "%B %Y"  }}{% if x.end %} - {{ x.end | date: "%B %Y"  }} {% endif %}
        </h4>
    </div>

    <div class="col-md-7">
        {{ x.content }}
    </div>

    <div class="col-md-5">
        {% if x.video %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ x.video }}" allowfullscreen></iframe>
        </div>
        {% elsif x.picture %}
        <img src="{{ x.picture | relative_url }}" class="img-fluid">
        {% endif %}
    </div>
</div>

{% if forloop.last != true %}
<hr />
{% endif %}

{% endfor %}
