---
layout: page
title: Skills and Abilities
permalink: /skills/
---
<div class="row">

    {% for category in site.data.skills %}
    <div class="col-md-6">
        <div class="row">
            <h3>{{ category.name }}</h3>
        </div>
        {% assign skills = category.skills %}
        {% for skill in skills %}
        <div class="row">
            <div class="col">
                {{ skill.name }}
            </div>
            <div class="col">
                <div class="progress" style="height: 2em;">
                    {% if skill.score == 0 %}
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 33%" aria-valuenow="33"
                        aria-valuemin="0" aria-valuemax="100">Familiar</div>
                    {% elsif skill.score == 1 %}
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0"
                        aria-valuemax="100">Medium</div>
                    {% elsif skill.score == 2 %}
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100">Strong</div>

                    {% elsif skill.score == -1 %}
                    <div class="progress-bar-custom" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                        aria-valuemax="100">Mediocre at best</div>
                    {% elsif skill.score == -2 %}
                    <div class="progress-bar-custom" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0"
                        aria-valuemax="100">Atrocious</div>
                    {% elsif skill.score == -3 %}
                    <div class="progress-bar-custom" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0"
                        aria-valuemax="100">Inevitably embarass myself</div>
                    {% else %}
                    <div class="progress-bar-custom" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">
                        Invalid Score</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
