<div id="footer">
    <div class="container">
        <div class="row">
            <div class="12u">

                <section class="contact">
                    <header>
                        <h3>Check me out elsewhere</h3>
                    </header>
                    <ul class="icons">
                        <li>
                            <a href="https://www.linkedin.com/in/willcray" class="icon fa-linkedin">
                                <span class="label">Linkedin</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/willcray/" class="icon fa-github">
                                <span class="label">GitHub</span>
                            </a>
                        </li>
                    </ul>
                    <br>
                    <h7>I don't like social media ¯\_(ツ)_/¯</h7>
                </section>

                <div class="copyright">
                    <ul class="menu">
                        <li>Copyright &copy; Will Cray</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
