<div id="header">
    <div class="inner">
        <header>
            <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

            <h1>{{ site.title }}</h1>
            <hr />
            <p>{{ site.tagline }}</p>
        </header>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="https://github.com/willcray/willcray.github.io">Source Code</a></li>
        </ul>
    </nav>
</div>
