<script src="https://use.fontawesome.com/2e2f21e53b.js"></script>
<script src="{{ '/js/jquery-3.3.1.slim.min.js' | relative_url }}"></script>
<script src="{{ '/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.dropotron.min.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.scrolly.min.js' | relative_url }}"></script>
<script src="{{ '/js/jquery.onvisible.min.js' | relative_url }}"></script>
<script src="{{ '/js/skel.min.js' | relative_url }}"></script>
<script src="{{ '/js/util.js' | relative_url }}"></script>
<!--[if lte IE 8]><script src="{{ '/js/ie/respond.min.js' | relative_url }}"></script><![endif]-->
<script src="{{ '/js/main.js' | relative_url }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64634100-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-64634100-1');
</script>
